body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image:url('./images/horrorTrees.jpg') ;
  color: azure;
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#navbar {
  background-color: rgb(37, 2, 11);
  color: beige;
  width: 100%;
  margin: auto;
 }

#navbar ul{
  padding: 0%;
  list-style: none;
  margin: auto;
  padding-left: 5px;

}

#navbar li{
  display: inline;
  width: 25%;
}

#navbar a{
  color: aliceblue;
  text-decoration: none;
  font-size: 18px;
  padding-right: 15px;
}

#navbar a:hover {
  background: rgb(2, 53, 38);
  color: rgb(201, 24, 24);
}

#header {
  background-color: black;
  color: rgba(250, 152, 25, 0.986);
  margin-top: 1px;
  height: auto;
  max-height: fit-content;
}

footer {
  position: relative;
  text-align: center;
  padding: 20px;
  margin-top: 60px;
  background-color: rgb(247, 84, 84);
  opacity: calc(40%);
  border-top: black;
  top: auto;
}

.movies-container {
  width: 70%;
  margin: auto;
  margin-bottom: 15px;
  padding-left: 2%;
  padding-right: 2%;
  background-position:center right;
  text-align: center;
  font-size: large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  content: "";
  display: block;
  clear: both;
}

.movie-card {
  background-image: url('./images/grabme.jpg');
  color: rgb(250, 6, 6);
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 10px;
  padding-bottom: 1%;
  position: relative;
  text-shadow: black;
  opacity: calc(94%);
  margin-top: 15px;
  margin-bottom: 15px;
}

.movie-form-container {
  background-image: url('./images/hellscape.jpg');
  background-size: cover;
  text-align: center;
}

.movie-form {
  text-align: center;
  margin: auto;
  width: 65%;
  align-content: center;
}

.movie-form input{
  margin-bottom: 15px;
  padding-bottom: 20px;
}

#home-screen {
  font-size: x-large;
  font-weight: 200;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  background-image: url('./images/spookHouse.jpg');
}

#home-screen p{
  width: 40%;
  min-width: 40%;
  max-height: 40%;
  text-align: center;
  margin: auto;
  padding-top: 15px;
  position: relative;
  padding-bottom: 15px;
  font-size: 15px;
}
