body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(57, 6, 105);
  color: azure;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#navbar {
  background-color: rgb(37, 2, 11);
  color: beige;
  width: auto;
}

#navbar ul{
  padding: 0%;
  list-style: none;

}

#navbar li{
  display: inline;
  width: 25%;
}

#navbar a{
  color: aliceblue;
  text-decoration: none;
  font-size: 18px;
  padding-right: 15px;
}

#header {
  background-color: black;
  color: rgba(250, 152, 25, 0.986);
}